services:
  dev:
    image: mcr.microsoft.com/devcontainers/base:ubuntu
    command: sleep infinity
    volumes:
      - .:/workspaces/peek-a-peak:cached
    depends_on:
      - backend
      - frontend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules
      - /app/.next
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:8000
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: python3 -m fastapi dev main.py --host 0.0.0.0
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app:cached
    environment:
      - PYTHONUNBUFFERED=1
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=postgres
      - DB_NAME=peek_a_peak
    depends_on:
      - postgres

  postgres:
    image: postgres:18
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=peek_a_peak
    volumes:
      - postgresdata:/var/lib/postgresql

volumes:
  postgresdata:
